<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Origibot2</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <style>
        #control-panel {
            top: 300px;
            position: absolute;
        }

        .control-button {
            font-size: 50px;
            cursor: pointer;
        }

        .control-button:hover {
            color: red;
        }
    </style>
</head>
<body>


<div id="control-panel">
    <i class="control-button arrow fas fa-arrow-up 7x"></i>
    <i class="control-button arrow fas fa-arrow-right"></i>
    <i class="control-button arrow fas fa-arrow-down"></i>
    <i class="control-button arrow fas fa-arrow-left"></i>
    <i class="control-button fa fa-stop-circle" aria-hidden="true"></i>
</div>


<script>
$( document ).ready(function() {
    $(".control-button").click(function() {
      console.log($( this ), $(this).attr('class'));
      var classStr = $(this).attr('class');
      var commandToSend = false;
      if (classStr.includes('up')) {commandToSend = 'F'}
      else if (classStr.includes('down')) {commandToSend = 'B'}
      else if (classStr.includes('left')) {commandToSend = 'L'}
      else if (classStr.includes('right')) {commandToSend = 'R'}
      else if (classStr.includes('stop')) {commandToSend = 'S'}



      postData = {'commandToSend': commandToSend}
      console.log('Command to send: ', commandToSend)
      console.log(postData)
      //$.post("send_command", postData).done(function(data) {
      /*$.post("send_command", JSON.stringify(postData)).done(function(data) {
          //$(".result").html( data );
      });*/


      $.ajax({
          url:'/send_command',
          type:"POST",
          data: JSON.stringify(postData),
          contentType:"application/json; charset=utf-8",
          dataType:"json",
          success: function(){

          }
        })
    });
});
</script>
</body>
</html>
